$menu-color: #2573c1;
$menu-color-2: #ecf4fc;
$user-info-color: #2365a7;
$primary-ovarlay: rgba(44, 42, 42, 0.4);
$primary-ovarlay-30: rgba(44, 42, 42, 0.3);
$primary-ovarlay-20: rgba(44, 42, 42, 0.2);
$primary-ovarlay-10: rgba(44, 42, 42, 0.1);
$top-height: 60px;
$user-info-height: 140px;
$menu-width: 280px;

html,
body {
  margin: 0;
  overflow: hidden;
}

#content {
  overflow-y: scroll;
  height: calc(100vh - #{$top-height});
}

body {
  overflow-x: hidden;
}

// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $menu-color-2;
  // box-shadow: inset -3px 0 0 $menu-color;
}

::-webkit-scrollbar-thumb {
  background: $user-info-color;
  box-shadow: inset -3px 0 0 $menu-color-2;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-ovarlay;
}
// END CUSTOM SCROLLBAR

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

#collapse-menu {
  .menu {
    width: $menu-width;
    height: 100vh !important;
    overflow: hidden;
    background-color: $menu-color;

    .menu-header {
      height: $top-height;
      width: 100%;

      h5 {
        font-size: 0.7rem;
      }

      p {
        font-size: 0.8rem;
      }
    }

    #toggle-menu-1 {
      background: none;
    }

    #user-info {
      color: $menu-color-2;
      height: $user-info-height;
      font-size: 0.8rem;

      .fill {
        height: 65px;
        width: 65px;
        overflow: hidden;
        img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

      .primary-overlay {
        background: $user-info-color !important;
        width: 100%;
        height: 100%;
      }
    }

    .scroll {
      overflow-y: scroll;
      height: calc(100vh - #{$top-height});
    }

    #menu-items {
      font-size: 0.9rem;

      .nav-item {
        .fa-caret-down {
          display: none;
        }
      }

      .nav-item:hover {
        background: $menu-color-2 !important;
        color: $user-info-color;
      }

      .active .nav-item {
        // padding-left: 0.7rem;
        background: $menu-color-2;
        color: $user-info-color;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .collapsed {
        .fa-caret-up {
          display: none;
        }
        .fa-caret-down {
          display: block;
        }
      }

      .collapsing {
        -webkit-transition: height 0.5s;
        transition: height 0.5s;
        display: block;
      }
    }
  }
}

#info-bar {
  .nav {
    height: $top-height;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    color: #aaa;

    a {
      color: inherit;
      text-decoration: none;
    }

    i:hover {
      color: $menu-color;
    }

    #toggle-menu-2 {
      background: none;
      color: $menu-color !important;
    }
  }
}

@media (max-width: 575.98px) {
  #collapse-menu {
    .menu {
      width: 100vw;
    }
  }
}
