$primary: rgb(22, 34, 56);
$ptimary-ovarlay: rgba(22, 34, 56, 0.8);
$ptimary-ovarlay-50: rgba(22, 34, 56, 0.5);
$light: #f8f9fa;
$border-gray: #dee2e6;

$navbar-height: 105px;

body {
  margin-top: $navbar-height;

  > .navbar {
    box-shadow: 2px 2px 5px $ptimary-ovarlay-50;
    background: white;
    min-height: $navbar-height;

    small {
      max-width: 150px;
      overflow: hidden;
    }

    .nav-item {
      font-size: 1.1rem;
      padding-right: 1.3rem;
    }
  }

  #main-footer {
    background: $primary;
    color: #fff;
  }
}

@media (max-width: 767.98px) {
  $navbar-height: 80px;
  body {
    margin-top: $navbar-height;
    > .navbar {
      min-height: $navbar-height;
    }
  }
}
@media (max-width: 767.98px) and (orientation: landscape) {
  $navbar-height: 50px;
  body {
    margin-top: 0;
    > .navbar {
      position: relative;
      min-height: $navbar-height;
    }
  }
}
@media (max-width: 991.98px) and (max-height: 430px) and (orientation: landscape) {
  $navbar-height: 50px;
  body {
    margin-top: 0;
    > .navbar {
      position: relative;
      min-height: $navbar-height;
    }
  }
}
