body {
  margin-top: 105px; }
  body > .navbar {
    box-shadow: 2px 2px 5px rgba(22, 34, 56, 0.5);
    background: white;
    min-height: 105px; }
    body > .navbar .nav-item {
      font-size: 1.1rem;
      padding-right: 1.3rem; }
  body #main-footer {
    background: #162238;
    color: #fff; }

@media (max-width: 767.98px) {
  body {
    margin-top: 80px; }
    body > .navbar {
      min-height: 80px; } }
@media (max-width: 767.98px) and (orientation: landscape) {
  body {
    margin-top: 0; }
    body > .navbar {
      position: relative;
      min-height: 50px; } }
.overflow-hidden {
  overflow: hidden; }

.btn-white {
  background: white;
  border: #dee2e6 1px solid; }

#search-settings {
  border-bottom: #dee2e6 1px solid; }
  #search-settings #search-tabs {
    margin-bottom: -1px; }
    #search-settings #search-tabs .nav {
      border-bottom: none !important; }
  #search-settings .dropdown .prefix {
    display: none; }

#cars {
  min-height: 70vh; }
  #cars .fill {
    overflow: hidden; }
    #cars .fill img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover; }

@media (max-width: 767.98px) {
  #search-settings #search-tabs {
    margin-top: 1rem;
    order: 3; }
  #search-settings .dropdown label {
    display: none; }
  #search-settings .dropdown .prefix {
    display: inline; } }
@media (max-width: 380px) {
  #search-tabs .nav-item .nav-link {
    padding-left: 10px;
    padding-right: 10px; } }
