html,
body {
  overflow-x: hidden;
  margin: 0; }

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none; }

#collapse-menu .menu {
  width: 280px;
  height: 100vh;
  background-color: #28a745; }
  #collapse-menu .menu .menu-header {
    height: 60px;
    width: 100%; }
    #collapse-menu .menu .menu-header h5 {
      font-size: 0.7rem; }
    #collapse-menu .menu .menu-header p {
      font-size: 0.8rem; }
  #collapse-menu .menu #toggle-menu-1 {
    background: none; }
  #collapse-menu .menu #user-info {
    color: white;
    height: 140px;
    font-size: 0.8rem; }
    #collapse-menu .menu #user-info .fill {
      height: 65px;
      width: 65px;
      overflow: hidden; }
      #collapse-menu .menu #user-info .fill img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; }
    #collapse-menu .menu #user-info .primary-overlay {
      background: rgba(44, 42, 42, 0.4) !important;
      width: 100%;
      height: 100%; }
  #collapse-menu .menu #menu-items {
    font-size: 0.9rem; }
    #collapse-menu .menu #menu-items .nav-item:hover {
      background: rgba(44, 42, 42, 0.4) !important; }
    #collapse-menu .menu #menu-items .active i {
      padding-left: 0.7rem; }
    #collapse-menu .menu #menu-items a {
      color: inherit;
      text-decoration: none; }

.nav {
  height: 60px;
  background-color: white;
  box-shadow: 1px 1px 5px gray;
  color: #aaa; }
  .nav i:hover {
    color: #28a745; }
  .nav #toggle-menu-2 {
    background: none;
    color: #28a745 !important; }

@media (max-width: 575.98px) {
  #collapse-menu .menu {
    width: 100vw; } }
