body {
  margin-top: 105px; }
  body > .navbar {
    box-shadow: 2px 2px 5px rgba(22, 34, 56, 0.5);
    background: white; }
    body > .navbar .nav-item {
      font-size: 1.1rem;
      padding-right: 1.3rem; }
  body #main-footer {
    background: #162238;
    color: #fff; }
